* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

.navbar {
    width: 198px;
    height: 100vb;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#profilepic {
    width: 149px;
    height: 145px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 8px;
    border: 5px solid slateblue;
}

#type-rite {
    margin-top: 25px;
    font-size: 34px;
    color: #fff;
    margin-left: 180px;
}

.navbar ul {
    margin-top: 18px;
    box-sizing: border-box;
}

.navbar ul li {
    width: 120px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid slateblue;
    row-gap: 40px;
    width: 100%;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -2px;
    margin-right: -2px;
}

.navbar ul li:hover {
    transform: scale(1.1);
    background: slateblue;
    color: #fff;
    font-weight: 500;
}

.mainsection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.introarea {
    width: 87%;
    height: 772px;
    background-color: darkslateblue;
    margin-left: 200px;
}

#firstline {
    color: #fff;
    margin-top: 12px;
    margin-left: 180px;
    font-size: 50px;
}

#ac {
    margin-top: 75px;
    margin-left: 180px;
    font-size: 26px;
    padding-top: 10px;
    color: #fff;
}

.introarea span {
    background-color: cornflowerblue;
}

.aboutsection {
    width: 87%;
    height: 772px;
    margin-left: 200px;
}

.aboutsection h1 {
    background: slateblue;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

#aboutfirstline {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
    padding-top: 10px;
}

#aboutsecondline {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 80px;
}

#aboutthirdline {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 80px;
}

#aboutfourline {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 80px;
}

#tech {
    font-size: 25px;
    margin-left: 80px;
    margin-top: 40px;
}

#tech-1 {
    font-size: 25px;
    padding-left: 80px;
    padding-top: 10px;
}

#tech-2 {
    font-size: 25px;
    padding-left: 80px;
    padding-top: 10px;
}

#tech-3 {
    font-size: 25px;
    padding-left: 80px;
    padding-top: 10px;
}

#tech-4 {
    font-size: 25px;
    padding-left: 80px;
    padding-top: 10px;
}

.experience {
    width: 87%;
    height: 772px;
    margin-left: 200px;
}

#amazon {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    border-radius: 4%;
}

.experience h1 {
    background: slateblue;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

.aboutamazon {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
    padding-top: 10px;
}

.aboutamazon span {
    font-size: 35px;
    margin-top: 16px;
}

.aboutamazon ul {
    margin-top: 25px;
}

#heading {
    margin-top: 28px;
    color: slateblue;
    font-size: 40px;
}

.projects {
    width: 87%;
    height: 1200px;
    margin-left: 200px;
}

.projectarea {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects h1 {
    background: slateblue;
    margin-top: 50px;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

.dssport {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dssport:hover {
    transform: scale(1.10);
}

.dssport img {
    width: 400px;
    height: 250px;
}

#dssports {
    font-size: 25px;
    color: darkslateblue;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#chr-content {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}

.Amaz {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Amaz:hover {
    transform: scale(1.10);
}

.Amaz img {
    width: 400px;
    height: 250px;
}

#div {
    font-size: 25px;
    color: darkslateblue;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

#div-content {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}

.e-commerce {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.e-commerce:hover {
    transform: scale(1.10);
}

.e-commerce img {
    width: 400px;
    height: 250px;
}

#ec {
    font-size: 25px;
    color: darkslateblue;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

#ec-content {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}

.banking {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banking:hover {
    transform: scale(1.10);
}

.banking img {
    width: 400px;
    height: 250px;
}

#ban {
    font-size: 25px;
    color: darkslateblue;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

#ban-content {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}

.skills {
    width: 87%;
    height: 1700px;
    margin-left: 0px;
}

.skills h1 {
    width: 114%;
    background: slateblue;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

.languages {
    width: 100%;
    height: 280px;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
}

.languages p {
    font-size: 40px;
    color: darkslateblue;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.languages img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 60px;
    background: transparent;
    background-color: white;
}

.languages span {
    font-size: 21px;
    margin-left: 57px;
}

#j1 {
    margin-left: 135px;
}

#j2 {
    margin-left: 120px;
}

#j3 {
    margin-left: 120px;
}

#j4 {
    margin-left: 135px;
}

#j5 {
    margin-left: 135px;
}

.libraries {
    width: 100%;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 105px;
}

#lib {
    font-size: 40px;
    color: darkslateblue;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.libraries img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 60px;
    background: transparent;
    background-color: white;
}

.libraries span {
    font-size: 20px;
    margin-left: 80px;
}

#l1 {
    margin-left: 135px;
}

#l2 {
    margin-left: 110px;
}

#l3 {
    margin-left: 100px;
}

#l4 {
    margin-left: 100px;
}

.framework {
    width: 100%;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 105px;
}

.framework p {
    font-size: 40px;
    color: darkslateblue;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.framework img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 60px;
    background: transparent;
    background-color: white;
}

.framework span {
    font-size: 20px;
    margin-left: 80px;
}

#f1 {
    margin-left: 135px;
}

#f2 {
    margin-left: 120px;
}

#f3 {
    margin-left: 120px;
}

.other {
    width: 100%;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 105px;
}

.other p {
    font-size: 40px;
    color: darkslateblue;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.other img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 60px;
    background: transparent;
    background-color: white;
}

.other span {
    font-size: 20px;
    margin-left: 110px;
}

.education {
    width: 87%;
    height: 772px;
    margin-left: 200px;
}

.education h1 {
    background: slateblue;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

.college {
    width: 50%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    margin-left: 250px;
}

.college p {
    font-size: 30px;
    color: darkslateblue;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#clg1 {
    font-size: 20px;
    color: darkslateblue;
    padding-top: 10px;
}

#clg2 {
    font-size: 20px;
    color: black;
    padding-top: 30px;
}

#clg3 {
    font-size: 20px;
    color: black;
    padding-top: 10px;
}

#clg4 {
    font-size: 20px;
    color: black;
    padding-top: 30px;
}

#rel-course {
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-left: 40px;
}

.college ul li {
    padding-bottom: 5px;
}

.contact {
    width: 100%;
    height: 772px;
    /* margin-left: 1000px; */
}

.contact h1 {
    background: slateblue;
    height: 70px;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-left: 50px;
    font-style: normal;
}

.contact p {
    font-size: 30px;
    color: darkslateblue;
    padding-top: 120px;
    padding-left: 100px;
}

#c1 {
    font-size: 30px;
    color: darkslateblue;
    padding-top: 20px;
    padding-left: 100px;
}

.contact p i {
    padding-right: 10px;
}